body {
    min-width:600px!important;
}
.loading-square{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .loading-circle{
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
          
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
}
.Calibration{
    position : absolute;
    display: block;
    bottom:10;
    right:100;
}
.ShowVideoBtn{
    position : absolute;
    display: block;
    bottom:10;
    right:220;
}
/* Calibration point position */
.time{
    display: none;
    position : absolute;
    font-size : 30px;
    opacity: 0.7f;
    color : blue;
    top:25%;
    left : 50%;
}
.point{
    position : absolute;
    display: none;
    img{
        width : 60px;
        height : 60px;
    }
}
.Pt1{
    top: 20px;
    left:20px;
}
.Pt5{
    top: 2vh;
    left:50vw;
}
.Pt2{
    top: 20px;
    right:2vw;
}
.Pt8{
    top:50vh;
    left:2vw;
}
.Pt13{
    top: 50vh;
    left: 50vw;
}
.Pt6{
    top: 50vh;
    right:2vw;
}
.Pt4{
    bottom:2vw;
    left: 2vw;
}
.Pt7{
    bottom:2vw;
    left:50vw;
}
.Pt3{
    bottom:2vw;
    right:2vw;
}

.pt9{
    top : 25vh;
    left : 50vw;
}

.pt10{
    top : 50vh;
    right : 25vw;
}

.pt11{
    bottom : 25vh;
    left : 50vw;
}

.pt12{
    top : 50vh;
    left : 25vw;
}

.pt13{
    top : 25vh;
    left : 25vw;
}

.pt14{
    top : 25vh;
    right : 25vw;
}

.pt15{
    bottom : 25vh;
    left : 25vw;
}

.pt16{
    bottom : 25vh;
    right : 25vw;
}

.pt17{
    top : 50vh;
    left : 25vw;
}

.ghost{
    display: none;
    opacity: 0.2f;
}

.circle{
    display : block;
    position: absolute;
    background-color: gray;
    opacity: 0.5f;
    border: 1px solid white;
    border-radius: 50%;
    width : 100px;
    height : 100px;
    left : 0;
    top : 0;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    transition: all 2s ease-out;
}